params {
    injection_dir = "/hercules/scratch/rsenzel/offline_injections/injections_config/run_1"
    output_dir = "/hercules/scratch/rsenzel/offline_injections/outputs/run_1"
    pipeline_code = ""
    tmp_dir = "/tmp/rsenzel"

    injection_plan = "${params.injection_dir}/injection_plan.json"
    config_params = "${params.injection_dir}/pipeline_configs.json"
    pics_models = "${params.injection_dir}/pics_models"
    
    singularity_config = "${params.injection_dir}/singularity_config.sh"
    dependencies_config = "${params.injection_dir}/dependencies_config.sh"

    injection_image = "/u/rsenzel/pulsar_inject/singularity_images/pulsar-miner_turing-sm75.sif"
    pulsarx_image = "/u/rsenzel/pulsar_inject/singularity_images/pulsarx_latest.sif"
    presto_image = "/u/rsenzel/pulsar_inject/singularity_images/pulsar-miner_turing-sm75.sif"
    pics_scorer_image = "/u/rsenzel/pulsar_inject/singularity_images/mmgps_fold_20230630_pics_model_update.sif"

    n_injections = 1000
    batch_size = 25
}