/.venv

/.vscode

/dev_injector

/dev_pipeline

/dev_signal

/signal_finder

/injector/__pycache__

/offline_injector_pipeline/*.ipynb

/injector/TODO.txt

*.nextflow*

/offline_injector_pipeline/work/

*.fil

*.par

*.pyc

*.bsp
