params {
    injection_dir = "/hercules/scratch/rsenzel/PIPELINE_VALIDATOR/inception/pipeline_general_injector/configs"
    output_dir = "/hercules/scratch/rsenzel/PIPELINE_VALIDATOR/outputs"
    pipeline_code = "/hercules/scratch/rsenzel/PIPELINE_VALIDATOR/inception/search_pipeline_validator"
    tmp_dir = "/tmp/rsenzel"

    injection_plan = "${params.injection_dir}/injection_plan.json"
    config_params = "${params.injection_dir}/pipeline_configs.json"
    dependencies_config = "${params.injection_dir}/dependencies_config.sh"

    injection_image = "/u/rsenzel/pulsar_inject/singularity_images/pulsar-miner_turing-sm75.sif"
    fold_par_image = "/u/rsenzel/pulsar_inject/singularity_images/pulsarx_latest.sif"

    n_injections = 1
    batch_size = 25
}