apptainer {
        enabled = true
        runOptions = '-B /hercules/:/hercules/'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
}

report.overwrite = 'true'
trace.overwrite = 'true'

process {
    executor  = 'slurm'

        withLabel: 'injection' {
        cpus = 48
        memory = '360 GB'
        time = '2h'
        queue = 'short.q'
        maxRetries = 3
        }

        withLabel: 'pulsarx_parfold' {
        cpus = 12
        memory = '360 GB'
        time = '2h'
        queue = 'short.q'
        maxRetries = 3
        }
       
}