params {
    injection_dir = ".../pipeline_general_INJECTOR/configs"
    output_dir = ".../outputs"
    pipeline_code = ".../inception/search_pipeline_validator"
    tmp_dir = "/tmp/USER"

    injection_plan = "${params.injection_dir}/injection_plan.json"
    config_params = "${params.injection_dir}/pipeline_configs.json"
    dependencies_config = "${params.injection_dir}/dependencies_config.sh"

    injection_image = ".../python_image.sif"
    fold_par_image = ".../pulsarx_image.sif"

    start = 1
    end = 1
    batch_size = 25
}