params {
    injection_dir = "/hercules/scratch/rsenzel/offline_injections/injections_config/run_1"
    output_dir = "/hercules/scratch/rsenzel/offline_injections/outputs/run_1"
    pipeline_code = ""
    tmp_dir = "/tmp/rsenzel"

    injection_plan = "${params.injection_dir}/injection_plan.json"
    search_params = "${params.injection_dir}/pipline_configs.json"

    injection_image = "/u/rsenzel/pulsar_inject/singularity_images/pulsar-miner_turing-sm75.sif"
    fold_par_image = "/u/rsenzel/pulsar_inject/singularity_images/pulsarx_latest.sif"

    n_injections = 1000
    batch_size = 25
}