apptainer {
        enabled = true
        runOptions = '--nv -B /hercules/:/hercules/'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }

report.overwrite = 'true'

process {
    executor = 'slurm'

        withLabel: 'injection_setup' {
        cpus = 48
        memory = '370 GB'
        time = '4h'
        queue = 'short.q'
        }

        withLabel: 'fold_par' {
        cpus = 12
        memory = '90 GB'
        time = '4h'
        queue = 'short.q'
        }

        withLabel: 'peasoup' {
        cpus = 1
        memory = '32 GB'
        clusterOptions = '--gres=gpu:1'
        time = '4h'
        queue = 'gpu.q'
        }

        withLabel: 'candidate_filter' {
        cpus = 1
        memory = '16 GB'
        time = '4h'
        queue = 'short.q'
        }

        withLabel: 'fold_cand' {
        cpus = 6
        memory = '45 GB'
        time = '4h'
        queue = 'short.q'
        }
       
}
