apptainer {
        enabled = true
        runOptions = '--nv -B /hercules/:/hercules/'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
}

report.overwrite = 'true'
trace.overwrite = 'true'

process {
    executor = 'slurm'

        withLabel: 'injection' {
        cpus = 48
        memory = '360 GB'
        time = '4h'
        queue = 'short.q'
        }

        withLabel: 'filtool' {
        cpus = 48
        memory = '360 GB'
        time = '4h'
        queue = 'short.q'
        }

        withLabel: 'fold_par' {
        cpus = 12
        memory = '90 GB'
        time = '4h'
        queue = 'short.q'
        }

        withLabel: 'peasoup' {
        cpus = 1
        memory = '32 GB'
        time = { 4.hour * task.attempt }
        queue = { (task.time <= 4.hour) ? "short.q" : "gpu.q" }
        clusterOptions = '--gres=gpu:1'
        errorStrategy = { task.exitStatus in (137..140) ? 'retry' : 'finish' }
        maxRetries = 1
        }

        withLabel: 'candidate_filter' {
        cpus = 1
        memory = '16 GB'
        time = '4h'
        queue = 'short.q'
        }

        withLabel: 'fold_cand' {
        cpus = 6
        memory = '45 GB'
        time = '4h'
        queue = 'short.q'
        }

        withLabel: 'pics_scorer' {
        cpus = 1
        memory = '7 GB'
        time = '4h'
        queue = 'short.q'
        }
       
}
