apptainer {
        enabled = true
        runOptions = '--nv -B /hercules/:/hercules/'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }

report.overwrite = 'true'

process {
    executor = 'slurm'

        withLabel: 'injection_setup' {
        cpus = 48
        clusterOptions = '--mem-per-cpu=7G'
        time = '4h'
        queue = 'short.q'
    }
       
}
