params{
    injection_dir = "/hercules/scratch/rsenzel/offline_injections/injections_config/test_1000"
    output_dir = "/hercules/scratch/rsenzel/offline_injections/outputs/test_1000"
    data_dir = "/hercules/scratch/vishnu/MMGPS_UHF_DATA"

    injection_plan = "${injection_dir}/injection_plan.json"
    search_params = "${injection_dir}/mmgps_search.json"
    ephem = "${injection_dir}/de440.bsp"

    n_injections = 1
    n_downsamp = 4

    injection_setup {
        injection_image = "singularity exec -H $HOME:/home -B /hercules/:/hercules/ /u/rsenzel/pulsar_inject/singularity_images/pulsar-miner_turing-sm75.sif"
        filtool_image = "singularity exec --nv -B /hercules/:/hercules/ /u/rsenzel/pulsar_inject/singularity_images/mmgps_fixed.sif"
        tmp_dir ="/tmp/rsenzel/injection_setup"
    }

    fold_par {
        image = "singularity exec --nv -B /hercules/:/hercules/ /u/rsenzel/pulsar_inject/singularity_images/mmgps_fold_20230630_pics_model_update.sif"
        tmp_dir ="/tmp/rsenzel/fold_par"
    }

    peasoup {
        image = "singularity exec --nv -B /hercules/:/hercules/ /u/rsenzel/pulsar_inject/singularity_images/mmgps_fixed.sif"
        tmp_dir ="/tmp/rsenzel/peasoup"
    }

    candidate_filter {
        image = "singularity exec --nv -B /hercules/:/hercules/ /u/rsenzel/pulsar_inject/singularity_images/mmgps_candidate_filter_new.sif"
        tmp_dir ="/tmp/rsenzel/candidate_filter"
    }

    fold_cand {
        image = "singularity exec --nv -B /hercules/:/hercules/ /u/rsenzel/pulsar_inject/singularity_images/mmgps_fold_20230630_pics_model_update.sif"
        tmp_dir ="/tmp/rsenzel/fold_cand"
    }

}