params {
    injection_dir = "/hercules/results/jjawor/injector/inception/offline_injector_pipeline"
    inception_dir = "/hercules/results/jjawor/injector"
    output_dir = "/hercules/results/jjawor/injector/inception/test_run"
    data_dir = "/hercules/results/jjawor/injector/inception/data"
    tmp_dir = "/tmp/jjawor"

    injection_plan = "${params.injection_dir}/injection_plan.json"
    search_params = "${params.injection_dir}/mmgps_search.json"
    ephem = "${params.injection_dir}/de440.bsp"

    pics_code = "${params.injection_dir}/PICS_MMGPS.py"
    pics_models = "${params.injection_dir}/pics_models"
    
    singularity_config = "${params.injection_dir}/singularity_config.sh"
    dependencies_config = "${params.injection_dir}/dependencies_config.sh"

    injection_image = "/u/rsenzel/pulsar_inject/singularity_images/pulsar-miner_turing-sm75.sif"
    filtool_image = "/u/rsenzel/pulsar_inject/singularity_images/mmgps_fixed.sif"
    fold_par_image = "/u/rsenzel/pulsar_inject/singularity_images/mmgps_fold_20230630_pics_model_update.sif"
    peasoup_image = "/u/rsenzel/pulsar_inject/singularity_images/mmgps_fixed.sif"
    candidate_filter_image = "/u/rsenzel/pulsar_inject/singularity_images/mmgps_candidate_filter_new.sif"
    fold_cand_image = "/u/rsenzel/pulsar_inject/singularity_images/mmgps_fold_20230630_pics_model_update.sif"
    score_collect_image = "/u/rsenzel/pulsar_inject/singularity_images/mmgps_fold_20230630_pics_model_update.sif"
    get_results_image = "/u/rsenzel/pulsar_inject/singularity_images/pulsar-miner_turing-sm75.sif"

    n_injections = 10
    batch_size = 25
    tscrunch_indeces = [0,1,2,3]
}

profiles {

   slurm {
    includeConfig 'hercules.config'
   }
}