params{
    injection_dir = "/hercules/scratch/rsenzel/offline_injections/injections_config/test_1000"
    output_dir = "/hercules/scratch/rsenzel/offline_injections/outputs/test_1000"
    data_dir = "/hercules/scratch/vishnu/MMGPS_UHF_DATA"

    injection_plan = "${injection_dir}/injection_plan.json"
    search_params = "${injection_dir}/mmgps_search.json"
    ephem = "${injection_dir}/de440.bsp"

    injection_setup {
        injection_image = "singularity exec -H $HOME:/home -B /hercules/:/hercules/ /u/rsenzel/pulsar_inject/singularity_images/pulsar-miner_turing-sm75.sif"
        filtool_image = "singularity exec --nv -B /hercules/:/hercules/ /u/rsenzel/pulsar_inject/singularity_images/mmgps_fixed.sif"
        tmp_dir ="/tmp/rsenzel/injection_setup"
    }

}