params{
    baseDir = "/hercules/scratch/fkareem/NGC7099"
    template_dir = "/hercules/scratch/fkareem/elden-ring/templates"
    pics_model_dir = "/hercules/scratch/fkareem/elden-ring/ML_Models"

filtool {
    output_path = "${params.baseDir}/Filtool"
    fits_files = "/fpra/timing/01/fazal/Eff_Data_Proc/NGC6626/Data/*.fits"
    //Masks
    Band0_Mask = "kadaneF 8 4 zdot"
    Band1_Mask = "kadaneF 8 4 zdot zap 1430 1490 zap 1550 1560 zap 1620 1630 zap 1750 1860"
    Band2_Mask = "kadaneF 8 4 zdot zap 1980 2000 zap 2100 2150 zap 2190 2200 zap 2238 2242 zap 2250 2280 zap 2300 2335 zap 2400 2480 zap 2500 2600"
    Band3_Mask = "kadaneF 8 4 zdot zap 2600 3000 zap 3930 4010 zap 3650 3660 zap 3680 3700"
    Band4_Mask = "kadaneF 8 4 zdot zap 4240 4350 zap 4230 4240 zap 5220 5250"
    Band5_Mask = "kadaneF 8 4 zdot"
}

ddplan {
    dm_start = 20
    dm_end = 30
    dm_step = 0.1
    dm_sample = 10
}

peasoup {
    output_path = "${params.baseDir}/Peasoup"
    min_snr = 7.0
    acc_start = -30
    acc_end = 30
    ram_limit_gb = 200
    nharmonics = 4
}

parse_xml {
    output_path = "${params.baseDir}/PulsarX/ParseXML"
    fold_technique = "pulsarx"
    pulsarx_cpn = 48
    nh = 0
    nsub = 64
    clfd = 2.0
    fast_nbins = 128
    slow_nbins = 64
}

pulsarx_fold {
    output_path = "${params.baseDir}/PulsarX"
    isitfits = 0
    ncpus = 48
}


candypolice{
    output_path = "/fpra/timing/01/fazal/Eff_Data_Proc/NGC6544/CandyPoliceTest/band12"
    fold_fil_path = "/fpra/timing/01/fazal/Eff_Data_Proc/NGC6544/Filtool/NGC6544_Band0_01.fil"
    candidates_csv = "/fpra/timing/01/fazal/Eff_Data_Proc/NGC6544/NGC6544/candidates.csv"
    sorted_candy_csv_file = "/fpra/timing/01/fazal/Eff_Data_Proc/NGC6544/CandyPoliceTest/NGC6544_fold12.csv"
    num_cores = 6
}

}


profiles {
    local {
        includeConfig "local.config"
    }
    edgar {
        includeConfig "edgar.config"
    }
    hercules {
        includeConfig "hercules.config"
    }
}
