params {
    injection_dir = ".../pipeline_general_PEASOUP/configs"
    output_dir = ".../outputs"
    pipeline_code = ".../inception/search_pipeline_validator"
    tmp_dir = "/tmp/USER"

    injection_plan = "${params.injection_dir}/injection_plan.json"
    config_params = "${params.injection_dir}/pipeline_configs.json"

    python_image = ".../python.sif"
    pulsarx_image = ".../pulsarx.sif"
    peasoup_image = ".../peasoup.sif"
  
    start = 1
    end = 1
    batch_size = 25
}