singularity {
        enabled = true
        runCommand = 'singularity exec' 
        runOptions = '-B /data:/data'
}

report.overwrite = 'true'
trace.overwrite = 'true'

process {
    executor  = 'slurm'

        withLabel: 'filtool' {
        cpus = 4
        memory = '20 GB'
        time = '2h'
        maxRetries = 3
        }

        withLabel: 'nullsar_zap' {
        cpus = 48
        memory = '360 GB'
        time = '2h'
        maxRetries = 3
        }

        withLabel: 'nullsar_fold' {
        cpus = 1
        memory = '12 GB'
        time = '2h'
        maxRetries = 3
        }


}