params {

    output_dir = "path/to/outputs"
    pipeline_code = ".../nullsar/code"
    tmp_dir = "/tmp/USER"

    filterbanks = "../nullsar/pipeline_general/configs/filterbanks.txt"
    pipeline_config = ".../nullsar/pipeline_general/configs/null_parms.json"

    nullsar_image = ".../software/python_image.sif"
    pulsarx_image = ".../pulsarx.sif"

}