apptainer {
        enabled = true
        runOptions = '-B /fred/:/fred/'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
}

report.overwrite = 'true'
trace.overwrite = 'true'

process {
    executor  = 'slurm'
    beforeScript = 'module load apptainer'
    
        withLabel: 'filtool' {
        cpus = 2
        memory = '24 GB'
        time = '30m'
        clusterOptions = '--tmp=96G' 
        maxRetries = 1
        }

        withLabel: 'nullsar_zap' {
        cpus = 48
        memory = '360 GB'
        time = '1h'
        clusterOptions = '--tmp=96G' 
        maxRetries = 3
        }

        withLabel: 'nullsar_fold' {
        cpus = 1
        memory = '12 GB'
        time = '2h'
        clusterOptions = '--tmp=64G' 
        maxRetries = 3
        }

}