apptainer {
        enabled = true
        runOptions = '-B /hercules/scratch/rsenzel --nv'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }

report.overwrite = 'true'

process {
    executor = 'slurm'

    withLabel: 'injector' {
        cpus = 48
        memory = '370 GB'
        time = '4h'
        queue = 'short.q'
    }

    withLabel: 'filtool' {
        cpus = 2
        memory = '10 GB'
        time = {8.hour * task.attempt}
        queue = { (task.time <= 4.hour) ? "short.q" : "long.q" }
        errorStrategy = { task.exitStatus in (137..140) ? 'retry' : 'finish' }
        maxRetries = 3
    }

    withLabel: 'peasoup' {
        cpus = 1
        memory = '50 GB'
        time = { 4.hour * task.attempt }
        queue = { (task.time <= 4.hour) ? "short.q" : "gpu.q" }
        clusterOptions = '--gres=gpu:1'
        errorStrategy = { task.exitStatus in (137..140) ? 'retry' : 'finish' }
        maxRetries = 3
    }

    withLabel: 'candidate_filter' {
        cpus = 1
        memory = '50 GB'
        time = { 4.hour * task.attempt }
        queue = { (task.time <= 4.hour) ? "short.q" : "long.q" }
        clusterOptions = '--gres=gpu:1'
        errorStrategy = { task.exitStatus in (137..140) ? 'retry' : 'finish' }
        maxRetries = 3
    }

    withLabel: 'psrfold' {
        cpus = 1
        memory = '10 GB'
        time = '4h'
        queue = 'short.q'
    }
    
}

params{
    baseDir = "/hercules/scratch/rsenzel"
    singularity_image_dir="/hercules/scratch/vishnu/singularity_images/"
    pulsarx_image = "${params.singularity_image_dir}/pulsarx_latest.sif"
    presto_image = "${params.singularity_image_dir}/pulsar-miner_turing-sm75.sif"
    peasoup_image = "${params.singularity_image_dir}/peasoup_latest.sif"
    psrchive_image = "${params.singularity_image_dir}/trapum_pulsarx_fold_docker_20220411.sif"
    threads = 48
    template_dir = "/hercules/scratch/fkareem/elden-ring/templates"
}